.shadow {
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.29);
  box-shadow: 3px 1px 5px 1px rgba(0, 0, 0, 0.29);
}
.chart-background {
  background-color: transparent;
}
